.container {
  display: flex;
  flex-wrap: wrap;
  margin: -1em -2em;
}

.container > * {
  flex: 1 1 40%;
  margin: 1em 2em;
}

.section {
  background-color: #f5f5f5;
  clip-path: polygon(0% 0%, 100% 4vmin, 100% 100%, 0% calc(100% - 4vmin));
}
