.form {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  gap: 1em;
  margin-top: 2em;
  /* align-content: end; */
}

.card.card {
  min-height: 24em;
}

.button.button {
  /* height: 2em; */
  align-self: end;
}
